/* @font-face{
    font-family: "Minimo";
    src: url('../fonts/Minimo.otf');
} */
body,
html {
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
    background: rgba(0, 0, 0, 0.02);
}

/* container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*
    header menu
*/
header {
    background-image: url('/images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    margin: auto;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}

#menu {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    text-align: center;
    /* margin-top: 35px; */
    margin: 20px auto;
}

#menu li {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: #c39b6e;
    margin-left: 31px;
}

#menu a:hover {
    color: #c28990;
    border-bottom: 1px solid #c28990;
}

/*
    header logo
*/
#logo {
    display: block;
    margin: 0 auto;
    /* margin-right: auto; */
    width: 20%;
}

/*
    Grid
*/
.grid {
    width: 100%;
    max-width: 1280px;
    columns: 4;
    column-gap: 40px;
    break-inside: avoid;
    flex-wrap: wrap;
    padding: 0 50px 50px 90px;
}

.grid h1 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    width: 100%;
    padding: 5px 0 5px 13px;
    transition: 1s;
    color: #c39b6e;

    background: #e7e4e469;
}

.grid h1:hover {
    cursor: pointer;
    background: transparent;
}


.grid-box {
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    transition: 1s;

    background-color: white;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px 5px rgba(5px, 5px, 5px, 5px, 0.2);

    border: 1px solid #00000012;
    border-radius: 2px;
}

.grid img {
    /* filter: none; */
    scale: 1.4;
    cursor: pointer;
    transition: 1s;
}

.grid .gallery__item {
    margin: 0;
}

/**
    ======== PRODUCT
*/
#product {
    outline: none;
}

img {
    width: 100%;
    height: auto;
}

/* img:hover{
    position: absolute;
    left: 0;
} */
.product-img {
    float: left;
}

.product-desc {
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    grid-gap: 0.5rem;
}

.desc {
    padding-left: 15px;
    text-align: justify;
    text-justify: inter-word;
}

/* edit icon */
.edit-icon,
.delete-icon {
    cursor: pointer;
    display: inherit;
    font-size: 25px;
    color: #8a8a8a;
}

.edit-icon {
    padding-left: 250px;
}

.delete-icon {
    padding-left: 20px;
}

.edit-icon:hover,
.delete-icon:hover {
    opacity: 0.7;
}

.back-to-website {
    margin-top: 9px;
    padding-left: 100px;
    color: #dc4a4a;
}

@media(max-width: 1280px) {
    .grid {
        columns: 3;
        width: calc(100% - 40px);
        box-sizing: border-box;

    }
}

@media(max-width: 768px) {
    .grid {
        columns: 2;
    }
}

@media(max-width: 480px) {
    .grid {
        columns: 1;
    }
}
